<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{.Filename}}</title>
    <link rel="stylesheet" href="/static/moviestyles.css">
</head>
<body>
    <header>
        <h1>Streamy</h1>
        <nav>
            <a href="/">Home</a>
        </nav>
    </header>

<!-- Video + Info Wrapper -->

    <div class="video-container">
        <video id="player" controls autoplay preload="metadata" width="100%">
            <source src="/media/movies/{{.Filename}}.{{.Extension}}" type="video/{{.Extension}}">
            Your browser does not support the video tag.
        </video>
    </div>

    <!-- Current playing info -->
    <div class="current-info" id="current-info">

        <div id="poster-container">
            <img id="poster" src="{{.Poster}}">
        </div>

        <div id="show-info">
            <h4 id="show-title">{{.Title}}</h4>
            <div class="row">
                <h4 class="season-info">{{.Genre}} &bull;</h4>
                <h4 class="season-info">{{.Rated}} &bull;</h4>
                <h4 class="season-info">{{.Released}} &bull;</h4>
                <h4 class="season-info">{{.Year}} &bull;</h4>
            </div>
            <h4 class="season-info">Director: {{.Director}}</h4>
            <h4 class="season-info">Actors: {{.Actors}}</h4>
            <h4 class="season-info">Plot: {{.Plot}}</h4>
        </div>

    
    </div>


</body>
</html>
